<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Корзина товаров</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<div class="container">
  <h1>Ваша корзина товаров:</h1>
  <br>
  <div class="row">
    <div class="col-9" id="cartItems">
      <!--  Code in cart.js    -->
    </div>
    <div class="col-3">
      <h2>Итоговая сумма:</h2>
      <h2>
        <div id="itemSubtotal"></div>
      </h2>
      <div sec:authorize="!isAuthenticated()">
        <form style="margin-top: 10px">
          <fieldset>
            <a href="/login">Авторизуйтесь</a>, чтобы оформить заказ.
          </fieldset>
        </form>
      </div>
      <div>
        <a href="/order/{id}" sec:authorize="isAuthenticated()" id="order_btn" class="btn btn-primary">Перейти к оформлению заказа</a>
      </div>
      <div id="paymentButton" sec:authorize="isAuthenticated()">
      </div>
      <div class="form-group mt-2">
        <a href="/">
          <button class="btn btn-secondary btn-block" id="toHome">Вернуться к покупкам</button>
        </a>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/cart.js}" src="../static/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>
</html>