<!DOCTYPE html>
<html lang="en">
<style>
    .container-fluid {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
    }

    .card {
        width: 1500px;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: 50% 50%;
    }

    body {
        overflow-x: hidden;
    }

    .col-4 {
        width: 100%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Страница модератора</title>
    <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'}"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'}"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Страница модератора</h1>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-2 sticky-top" style="width: 100%">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                 style="margin-top: 15px; margin-right: -15px">
                <a class="nav-link active" id="v-pills-items-tab" data-toggle="pill" href="#v-pills-items"
                   role="tab"
                   aria-controls="v-pills-items" style="text-align: left" aria-selected="true"></a>
                <a class="nav-link" id="v-pills-shops-tab" data-toggle="pill" href="#v-pills-shops" role="tab"
                   aria-controls="v-pills-shops" style="text-align: left" aria-selected="false">Магазины</a>
                <a class="nav-link" id="v-pills-reviews-tab" data-toggle="pill" href="#v-pills-reviews" role="tab"
                   aria-controls="v-pills-reviews" style="text-align: left" aria-selected="false">Отзывы</a>
            </div>

        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-items" role="tabpanel"
                     aria-labelledby="v-pills-items-tab">
                    <div class="card-group" id="itemsCards">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-shops" role="tabpanel" aria-labelledby="v-pills-shops-tab">
                    <div class="card-group" id="shopsCards">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab">
                    <div class="card-group" id="reviewsCards">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/moderator/moderator_itemFetchService.js"></script>
<script src="/js/moderator/moderator_shopFetchService.js"></script>
<script src="/js/moderator/moderator_reviewFetchService.js"></script>
</body>
</html>