<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order page</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
<div style="width: 100%; height: 100vh; background-color: #fcffdf; position: relative; ">
    <!-- модалка для изменения информации заказа -->
    <div class="modal fade" id="order_info_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изменение информации заказа:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="order_edit_form">
                    <div class="modal-body">
                        <div class="mb-2">
                            <h6>Адрес доставки:</h6>
                        </div>
                        <div class="mb-3">
                            <label for="country_input" class="form-label">Страна:</label>
                            <input id="country_input" type="text" name="country" class="form-control" placeholder="Введите страну:">
                            <div id="country_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                        <div class="mb-3">
                            <label for="city_input" class="form-label">Город:</label>
                            <input id="city_input" type="text" name="city" class="form-control" placeholder="Введите город:">
                            <div id="city_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                        <div class="mb-3">
                            <label for="street_input" class="form-label">Улица:</label>
                            <input id="street_input" type="text" name="street" class="form-control" placeholder="Введите улицу:">
                            <div id="street_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                        <div class="mb-3">
                            <label for="house_input" class="form-label">Дом:</label>
                            <input id="house_input" type="number" name="house" class="form-control" placeholder="Введите дом:">
                            <div id="home_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                        <div class="mb-2">
                            <h6>Персональные данные:</h6>
                        </div>
                        <div class="mb-3">
                            <label for="name_input" class="form-label">Имя:</label>
                            <input id="name_input" type="text" name="buyerName" class="form-control" placeholder="Введите имя:">
                            <div id="name_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                        <div class="mb-3">
                            <label for="phone_input" class="form-label">Телефон:</label>
                            <input id="phone_input" type="text" name="buyerPhone" class="form-control" placeholder="Введите телефон:">
                            <div id="phone_checker" class="form-text" style="color:#a40000;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" id="order_edit_btn" class="btn btn-primary" data-bs-dismiss="modal">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--контейнер с заказом-->
    <div class="container-fluid d-flex justify-content-center" style="padding-top:30px;">
        <div class="shadow" style="width:850px; height:auto; background-color: #fff; padding-top: 10px; padding-bottom:20px; padding-left: 10px;">
            <div class="row">
                <div class="col-12">
                    <h5>Проверьте ваш заказ:</h5>
                </div>
                <div class="col-12">
                    <hr style="width:100%; margin: 0;">
                </div>
                <div class="col-12 d-flex justify-content-between px-4 mt-4">
                    <div>Сумма заказа: <b id="order_total">8100р</b></div>
                    <button type="button" class="btn btn-primary text-align-center" style="height:35px;" id="order_edit_open_btn">Изменить информацию</button>
                </div>
                <div class="col-12 d-flex justify-content-between px-4">
                    <div><b>Ваша информация:</b></div>
                </div>
                <div class="col-12 d-flex justify-content-between px-4">
                    <div>Ваше имя: <b id="order_name">Alex</b></div>
                </div>
                <div class="col-12 d-flex justify-content-between px-4">
                    <div>Ваш телефон: <b id="order_phone">8959595493</b></div>
                </div>
                <div class="col-12 d-flex justify-content-between px-4">
                    <div>Адрес доставки: <b id="order_country"></b>, <b id="order_city"></b>, <b id="order_street"></b> , <b id="order_house"></b></b></div>
                </div>
                <div class="col-12 px-4">
                    <table class="table table-striped" id="items_by_orders_table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody id="insert_items_by_order">

                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-end px-4">
                    <button type="button" id="delete_order" class="btn btn-secondary">Отменить заказ</button>
                    <button type="button" class="btn btn-primary ms-2" id="complete_order">Оплатить</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    const orderId = window.location.href.replace('http://localhost:8888/order/', '');


    $(document).ready(function () {
        getOrder().then((o) => addOrderInfoOnPage(o));
        //Обработчик кнопки открытия модального окна
        $('#order_edit_open_btn').on('click', function(e) {
            e.preventDefault();
            $('#order_info_modal').modal('show');
            getOrder().then((o) => addOrderInfoOnModal(o));
        })
        //Обработчик на кнопке изменения информации пользователя в заказе (модальное окно)
        $('#order_edit_btn').on('click', function () {
            updateOrderInfo($('#order_edit_form'));
        })
        //Обработчик на кнопке удаление товара
        $('#insert_items_by_order').on('click', '.delete_item_in_order', function (e) {
            deleteItemInOrder($(this).attr("id"));
        })
        //Удаление ордера
        $('#delete_order').on('click', function (e) {
            e.preventDefault();
            deleteOrder();
            location.replace("/");
        })
        //===============
        $('#complete_order').on('click', function () {
            location.replace("http://localhost:8888/payment/" + orderId);
        })
    })
    //Удаляем итем из ордера
    async function deleteItemInOrder(itemId) {
        const response = await fetch("/api/order/deleteItem/" + orderId + "/" + itemId, {
            headers: { "Content-Type": "application/json; charset=utf-8" },
            method: 'delete',
        })
        if(response.ok) {
            getOrder().then((o) => addOrderInfoOnPage(o));
        } else {
            alert("Не удалось удалить товар из вашего заказа!");
        }
    }
    /**
     * обновляем информацию заказа через модальное окно
     */
    async function updateOrderInfo(form) {
        let json = {};
        let data = $(form).serializeArray();
        for(let i = 0; i < data.length; i++) {
            json[data[i].name] = data[i].value;
        }
        let response = await fetch('/api/order/' + orderId, {
            headers: { "Content-Type": "application/json; charset=utf-8" },
            method: 'put',
            body: JSON.stringify(json)
        })
        if(response.ok) {
            getOrder().then((o) => addOrderInfoOnPage(o));
        } else {
            alert("Ошибка при обновлении заказа!")
        }
    }
    /**
     * получаем заказ
     * @returns {Promise<void>}
     */
    async function getOrder() {
        const response = await fetch('/api/order/' + orderId);
        if(response.ok) {
            return await response.json();
        }
    }

    /**
     * удаляет заказ
     * @param e
     */
    async function deleteOrder() {
        await fetch('/api/order/' + orderId, {
            headers: { "Content-Type": "application/json; charset=utf-8" },
            method: 'delete'
        })
    }
    //Вставляем информацию пользователя в формы на модалке
    function addOrderInfoOnModal(e) {
        $('#country_input').val(e.country);
        $('#city_input').val(e.city);
        $('#street_input').val(e.street);
        $('#house_input').val(e.house);
        $('#name_input').val(e.buyerName);
        $('#phone_input').val(e.buyerPhone);
    }
    //Вставляем информацию о заказе на страницу
    async function addOrderInfoOnPage(e) {
        const items = e.items;

        $('#order_name').html('');
        $('#order_name').html(e.buyerName);
        $('#order_phone').html('');
        $('#order_phone').html(e.buyerPhone);
        $('#order_total').html('');
        $('#order_total').html(e.total);
        $('#order_country').html('');
        $('#order_country').html(e.country);
        $('#order_city').html('');
        $('#order_city').html('г. ' + e.city);
        $('#order_street').html('');
        $('#order_street').html('ул. ' + e.street);
        $('#order_house').html('');
        $('#order_house').html('д. ' + e.house);
        let inner_items = '';
        for(let i = 0; i < items.length; i++) {
            inner_items += '<tr>\n' +
                '                            <td><img src="' + items[i].images[0].url + '" alt="item_img" width="80px" height="45px"></td>\n' +
                '                            <td>' + items[i].name + '</td>\n' +
                '                            <td>' + items[i].categories[0].name + '</td>\n' +
                '                            <td>' + items[i].price + '</td>\n' +
                '                            <td>\n' +
                '                                <button type="button" id="' + items[i].id +  '" class="btn btn-danger delete_item_in_order">удалить</button>\n' +
                '                            </td>\n' +
                '                        </tr>';
        }
        $('#insert_items_by_order').html('');
        $('#insert_items_by_order').html(inner_items);


    }

</script>
</body>
</html>