<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>

    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'}"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/product_page_style.css">
</head>
<body>
<div class="row no-gutters vh-100">
    <!---------- Left Column / Image ---------->
    <div class="col-md-6 bg-white">
        <div class="product-img">
            <a href="">
                <img src="//images.wbstatic.net/large/new/25910000/25910205-1.jpg">
                <!-- item_image -->
            </a>
        </div>
    </div>

    <!---------- Right Column ---------->
    <div class="col-md-6 bg-light">
        <!-- Product Description -->
        <br/>
        <div class="product-description">Название группы товаров
            <!-- item_category-->
            <br/>
            <h2>Название товара</h2>
            <!-- item.getName -->
            <div class="product-configuration">
                <hr/>
                <div class="cable-config">Описание товара
                    <!-- item.getDescription -->
                </div>
                <hr/>
                <!-- Product Pricing -->
                <div class="product-price">
                    <h4>148$</h4>
                    <!-- item.getPrise-->
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" href="#">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Добавление нового отзывва о товаре -->
<form th:action="@{/newReview}" th:method="POST" th:object="${newReview}">
    <fieldset>
        <legend>Отзыв о товаре</legend>
        <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5">
            <label for="star-5" title="Оценка «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4">
            <label for="star-4" title="Оценка «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3">
            <label for="star-3" title="Оценка «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2">
            <label for="star-2" title="Оценка «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1">
            <label for="star-1" title="Оценка «1»"></label>
        </div>
        <label for="4">Достоинства</label>
        <textarea id="4" rows="4" th:field="*{dignity}"></textarea>
        <label for="5">Недостатки</label>
        <textarea id="5" rows="4" th:field="*{flaw}"></textarea>
        <label for="6">Текст отзыва</label>
        <textarea id="6" rows="6" th:field="*{text}"></textarea>
        <div class="form-group d-grid mt-1">
            <button type="submit" class="btn btn-primary d-block mx-auto" style="width: 100px;">Оставить</button>
        </div>
    </fieldset>
</form>
<!--Вывод всех отзывов о товаре -->
<div th:each="review : ${reviews}">
    <fieldset>
        <p th:text="${review.user}"></p>
        <p th:text="${review.date}"></p>
        <p th:text="${review.rating}"></p>
        <p th:text="${review.dignity}"></p>
        <p th:text="${review.flaw}"></p>
        <p th:text="${review.text}"></p>
    </fieldset>
</div>
</div>
</body>
</html>