<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  <script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
</head>
<body>

<div class="row no-gutters vh-100">
  <!---------- Left Column / Image ---------->
  <div class="col-md-6 bg-light">
    <div class="product-image">
      <a href="">
         <img th:src= "${item.getImages()[0]}">
      </a>
    </div>
  </div>

  <!---------- Right Column ---------->
  <div class="col-md-6 bg-white">
    <br/>
    <p th:text="${shop.getName()}"><b>Название магазина</b></p>
    <br/>
    <div class="product-category">
      <p><b>Категории:</b></p>
      <ul th:each="category : ${item.getCategories()}">
        <li th:text="${category}"></li>
      </ul>
      <br/>
      <b th:text="${item.getName()}">Название товара</b>
      <div class="product-configuration">
        <hr/>
        <div class="product-description">
          <p th:text="${item.getDescription()}">Описание товара</p>
        </div>
        <hr/>
        <!-- Product Pricing -->
        <div class="product-price">
          <p th:text="${item.getPrice()}">Стоимость товара</p>
        </div>
        <div>
          <label for="itemQuant">Количество:</label>
          <input type="number" id="itemQuant" th:value="${cartItem!=null}?${cartItem.getQuantity()} :1" class="form-control" min="1">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" th:attr="onclick=|addCartItem('${item.id}','${shop.id}')|">В корзину</button>
        </div>
        <div class="form-group" id="favoriteButton">
<!--          <button class="btn btn-info btn-block" th:attr="onclick=|addItemToFavorites('${item.id}')|">Добавить в избранное</button>-->
        </div>
      </div>
    </div>
  </div>
  <div id="favItem" th:data-itemId="${item.getId()}"></div>
</div>
  <script>
    $(async function (){
      await favoriteItem()
    })

    async function favoriteItem() {
      let form = $("#favItem");
      let itemId = form.attr("data-itemId");

      await favoriteButtonItem(itemId);
    }

    async function addCartItem(itemId, shopId) {
      let quant = document.getElementById("itemQuant").value;
      let url = new URL("http://localhost:8888/api/cart/add")
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json; charset=utf-8",
        },
        body: JSON.stringify({
          quantity: quant,
          item: {
            id: itemId
          },
          shop: {
            id: shopId
          },
        })
      })
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/favorites.js}" src="../static/js/favorites.js"></script>

</body>
</html>
