<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<!--Модалка изменения информации юзера-->
<div class="modal fade" id="edit_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменение данных пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="update_user_form">
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="first_nameSave">Имя пользователя</label>
                        <input class="form-control" type="text" value="" id="usernameSave" required minlength="4" placeholder="Введите имя пользователя">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="emailSave">Адрес электронной почты</label>
                        <input class="form-control" type="email" value="" id="emailSave" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" title="в формате user@example.com" required placeholder="Введите адрес электронной почты">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="phoneSave">Номер телефона</label>
                        <input class="form-control" type="text" value="" id="phoneSave" required minlength="11" pattern="[0-9]+" title="указать цифрами" placeholder="Введите номер телефона">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="first_nameSave">Имя</label>
                        <input class="form-control" type="text" value="" id="first_nameSave" placeholder="Введите имя">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="last_nameSave">Фамилия</label>
                        <input class="form-control" type="text" value="" id="last_nameSave" placeholder="Введите фамилию">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-11">
                        <label class="form-label" for="ageSave">Возраст</label>
                        <input class="form-control" type="number" value="" id="ageSave" placeholder="Введите возраст">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-3">
                        <label class="form-label" for="countrySave">Страна</label>
                        <input class="form-control" type="text" value="" id="countrySave" placeholder="Введите страну">
                    </div>
                    <div class="form-group col-3">
                        <label class="form-label" for="citySave">Город</label>
                        <input class="form-control" type="text" value="" id="citySave" placeholder="Введите город">
                    </div>
                    <div class="form-group col-3">
                        <label class="form-label" for="cityIndexSave">Индекс города</label>
                        <input class="form-control" type="text" value="" id="cityIndexSave" placeholder="Введите индекс города">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-3">
                        <label class="form-label" for="streetSave">Улица</label>
                        <input class="form-control" type="text" value="" id="streetSave" placeholder="Введите улицу">
                    </div>
                    <div class="form-group col-3">
                        <label class="form-label" for="houseSave">Номер дома</label>
                        <input class="form-control" type="text" value="" id="houseSave" placeholder="Введите номер дома">
                    </div>
                    <div class="form-group col-3">
                        <label class="form-label" for="birthdaySave">Дата рождения</label>
                        <input class="form-control" type="date" value="" id="birthdaySave">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-6">
                        <label class="form-label" for="genderSave">Выберите пол:</label>
                        <br>
                        <select class="form-select" size="3" id="genderSave" name="gender" required>
                            <option id="ManSave" value="MALE">Мужчина</option>
                            <option id="WomanSave" value="FEMALE">Женщина</option>
                            <option id="NoGenderSave" value="UNKNOWN">Не определен</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" id="user_signin_btn" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--HEADER /includes/header.html-->
<div th:replace="/includes/header :: header"></div>
<!--Main container-->
<section class="d-flex">
    <!--Sidebar-->
    <div class="bg-light" style="width: 450px; min-height: 100vh; padding-top: 30px; padding-bottom: 200px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <img src="https://img.etimg.com/thumb/msid-79733946,width-300,imgsize-300305,,resizemode-4,quality-100/cyber.jpg" alt="user_image" width="100px" height="100px">
                </div>
                <div class="col-12 d-flex align-items-center">
                    <h2 th:text="${user.getFirstName() + ' ' + user.getLastName()}">Alexandr Alexandrov</h2>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <hr style="width: 100%; margin: 0;">
                </div>
                <!--User information-->
                <div class="col-12 mt-4">
                    <p>Username: <b th:text="${user.getUsername()}">user1</b></p>
                    <p>Email: <b th:text="${user.getEmail()}">user@email.ru</b></p>
                    <p>Номер телефона: <b th:text="${user.getPhone()}">8950432123</b></p>
                    <p>Страна: <b th:text="${user.getAddress().getCountry().getName()}">Росссия</b></p>
                    <p>Город: <b th:text="${user.getAddress().getCity().getName()}">Москва</b></p>
                    <p>Улица: <b th:text="${user.getAddress().getStreet()}">Ленина</b></p>
                    <p>Дом: <b th:text="${user.getAddress().getHouse()}">3а</b></p>
                    <input type="hidden" th:value="${user.getId()}" id="user_id">
                </div>
            </div>
        </div>
    </div>

    <!--Main Body-->
    <div class="container-fluid" style="padding-top: 30px; padding-left: 35px; padding-right:35px; ">
        <div class="row">
            <div class="col-12 p-0">
                <h1 id="user_panel_head">Ваши магазины:</h1>
            </div>
            <div class="col-12 mt-4 p-0 d-flex justify-content-between">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="shop_view_btn" aria-current="page"  href="#1">Магазины</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2" id="orers_view_btn">Заказы</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-success" id="edit_profile_btn">Изменить профиль</button>
            </div>
        </div>
        <!--панель заказов и магазинов-->
        <div class="row shadow-sm p-0 border">
            <div class="col-12 py-1 px-3 d-flex align-items-center" style="background: #F2F2F2;">
            </div>

            <div class="col-12 bg-white d-flex justify-content-center py-3 px-3">

                <!--магазины пользователя-->
                <div id="shop_view_panel" class="col-12 collapse show">
                    <div class="col-12 d-flex flex-wrap mt-3" id="shop_content_container">

                    </div>
                </div>
                <!--заказы-->
                <div id="order_view_panel" class="col-12 collapse">
                    <!--заказы генерируются сюда-->
                    <div id="orders_container">

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const shopViewBtn = $('#shop_view_btn');
    const orderViewBtn = $('#orers_view_btn');
    const shopViewPanel = $('#shop_view_panel');
    const orderViewPanel = $('#order_view_panel');
    const userPanelHead = $('#user_panel_head');
    const shopContentConteiner = $('#shop_content_container');
    const orderContentConteiner = $('#orders_container');
    const userId = $('#user_id').val();
    const editProfile = $('#edit_profile_btn');
    const user_form = $('#update_user_form');

    $(document).ready(function() {

        getShopsByUserId(userId);

        $('.collapse').on('show.bs.collapse hide.bs.collapse', function (e) {
            e.preventDefault();
        })

        $(editProfile).on('click', function () {
            $('#edit_modal').modal("show");
            getUser();
        })

        $(shopViewBtn).on('click', function (e) {
            e.preventDefault();
            /*переключаем классы для отображения панели магазинов и скрытия панели заказов*/
            toggleUserPanel($(this),orderViewBtn,shopViewPanel,orderViewPanel);
            $(userPanelHead).html('Ваши магазины:');
        })
        $(orderViewBtn).on('click', function (e) {
            e.preventDefault();
            getOrdersByUserId(userId);
            /*переключаем классы для отображения панели заказов и скрытия панели магазинов*/
            toggleUserPanel($(this),shopViewBtn,orderViewPanel,shopViewPanel);
            $(userPanelHead).html('Ваши заказы:');
        })
    })
    async function getUser() {
        const response = await fetch("/api/userPage/user");
        if(response.ok) {
            const user = await response.json();
            console.log(user);
            addUserInfoOnModal(user);
        }
    }
    function addUserInfoOnModal(e) {
        $('#first_nameSave').val(e.firstName);
        $('#last_nameSave').val(e.lastName);
        $('#emailSave').val(e.email);
        $('#phoneSave').val(e.phone);
        $('#ageSave').val(e.age);
        $('#countrySave').val(e.address.country);
        $('#citySave').val(e.address.city);
        $('#cityIndexSave').val(e.address.cityIndex);
        $('#streetSave').val(e.address.street);
        $('#houseSave').val(e.address.house);
        $('#birthdaySave').val(e.birthday);
        $('#usernameSave').val(e.username);

    }
    async function getOrdersByUserId(userId) {
        const response = await fetch("/api/userPage/orders/" + userId);
        if(response.ok) {
            const orders = await response.json();
            addOrdersOnPage(orders);
        }
    }
    async function getShopsByUserId(userId) {
        const response = await fetch("/api/userPage/shops/" + userId);
        if(response.ok) {
            const shops = await response.json();
            addShopsOnPage(shops);
        }
    }
    function addShopsOnPage(shops) {
        let insert_html = '';
        if(shops.length === 0) {
            shopContentConteiner.html('');
            shopContentConteiner.html('<h2>У вас пока нет магазинов</h2>');
        }
        for(let i = 0; i < shops.length; i++) {
            insert_html += '<div class="card" style="width: 18rem; margin-right: 15px; margin-top: 20px;">\n' +
                '                            <img src="' + shops[i].logo + '" class="card-img-top" alt="...">\n' +
                '                            <div class="card-body">\n' +
                '                                <h5 class="card-title">' + shops[i].name + '</h5>\n' +
                '                                <p class="card-text">Рейтинг магазина: <b>' + shops[i].count +  '</b></p>\n' +
                '                                <p class="card-text">' + shops[i].description +  '</p>\n' +
                '                                <a href="/showcase/' + shops[i].id + '" class="btn btn-danger">Перейти в магазин</a>\n' +
                '                            </div>\n' +
                '                        </div>';
        }
        shopContentConteiner.html('');
        shopContentConteiner.html(insert_html);
    }
    function addOrdersOnPage(orders) {
        let insert_html = '';
        if(orders.length === 0) {
            orderContentConteiner.html('');
            orderContentConteiner.html('<h2>У вас пока нет заказов</h2>');
        }
        for(let i = 0; i < orders.length; i++) {
            insert_html += '<div class="row my-2">\n' +
                '                            <div class="col-12 d-flex justify-content-between px-4">\n' +
                '                                <div>Дата заказа: <b>' + orders[i].date + '</b></div>\n' +
                '                                <b>' + orders[i].status + '</b>\n' +
                '                            </div>\n' +
                '                            <div class="col-12 d-flex justify-content-between px-4">\n' +
                '                                <div>Адрес доставки: <b>' + orders[i].country + ', г.' + orders[i].city + ', ул.' + orders[i].street + ', д.' + orders[i].house + '</b></div>\n' +
                '                            </div>\n' +
                '                            <div class="col-12 d-flex justify-content-between px-4">\n' +
                '                                <div>Сумма заказа: <b>' + orders[i].total + '</b></div>\n' +
                '                            </div>\n' +
                '                            <div class="col-12 px-4">\n' +
                '                                <table class="table table-striped" id="items_by_orders_table">\n' +
                '                                    <thead>\n' +
                '                                    <tr>\n' +
                '                                        <th scope="col"></th>\n' +
                '                                        <th scope="col"></th>\n' +
                '                                        <th scope="col"></th>\n' +
                '                                        <th scope="col"></th>\n' +
                '                                        <th scope="col"></th>\n' +
                '                                    </tr>\n' +
                '                                    </thead>\n' +
                '                                       <tbody id="insert_items_by_order">\n';
            for(let t = 0; t < orders[i].items.length; t++) {
                insert_html += '<tr>\n' +
                    '              <td><img src="' + orders[i].items[t].images[0].url + '" alt="item_img" width="80px" height="45px"></td>\n' +
                    '              <td>' + orders[i].items[t].name + '</td>\n' +
                    '              <td>' + orders[i].items[t].categories[0].name + '</td>\n' +
                    '              <td>' + orders[i].items[t].price + '</td>\n' +
                    '              <td>\n' +
                    '                 <a href="/product/' + orders[i].items[t].id + '">Страница товара</a>\n' +
                    '              </td>\n' +
                    '           </tr>'
            }
            insert_html += '                               </tbody>\n' +
                '                                </table>\n' +
                '                            </div>\n' +
                '                        </div>';
        }
        orderContentConteiner.html('');
        orderContentConteiner.html(insert_html);
    }

    function toggleUserPanel(e1,e2,p1,p2) {
        $(e1).addClass('active');
        $(e2).removeClass('active');
        $(p1).addClass('show');
        $(p2).removeClass('show');
    }
</script>
</body>
</html>
